.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  font-weight: 600;
}

.badge_new {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
